{% extends 'base.html' %} {% block content %}
<div class="container">
	{% for aircnc in property %}
	<u>
		<h4 class="center-align">{{aircnc.name}}</h4>
	</u>
	<br>
	<div class="carousel" style="height:300px">
		<a class="carousel-item" href="#one!"><img src={{ url_for('static', filename='propertyphotos/1.jpg') }} ></a>
			<a class="carousel-item"
				href="#one!"><img src={{ url_for('static', filename='propertyphotos/2.jpg') }} ></a>
				<a class="carousel-item"
					href="#one!"><img src={{ url_for('static', filename='propertyphotos/3.jpg') }} ></a>
					<a class="carousel-item"
						href="#one!"><img src={{ url_for('static', filename='propertyphotos/4.jpg') }} ></a>
						<a class="carousel-item"
							href="#one!"><img src={{ url_for('static', filename='propertyphotos/5.jpg') }} ></a>
	</div>
	<div class="row">
		<div class="col s12 m12">
			<div class="card white">
				<div class="card-content black-text">
					{{aircnc.typeandhost}} <br /><br />
     Capacity: {{aircnc.capacity}} <br /><br />
      {{aircnc.summary}} <br /><br />
      Bed size(s): {{aircnc.bedsize|join(', ')}} <br><br>
      Minimum stay {{aircnc.minnights}} - {{aircnc.maxnights}} Maximum stay <br><br>
      Amenities: {{aircnc.amenities|join(', ')}} <br><br>
  </div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="divider"></div>
		<div class="divider"></div>

		<div>
			<em><h4 class="center-align">Price per night {{aircnc.pricepernight}} - Cleaning fees {{aircnc.cleaningfee}} - Service fees {{aircnc.servicefee}}</h4></em>
		</div>

		<div class="divider"></div>
		<div class="divider"></div>
		<br>
		<br>
		<div class="row">
			<div class="col s6 m6">
				<div class="card white">
					<div class="card-content black-text">
						<em><h4 class="center-align">House Rules</h4></em>
						<br>
						<p>{{aircnc.rules}}</p>
					</div>
				</div>
			</div>
			<div class="col s6 m6">
				<div class="card white">
					<div class="card-content black-text">
						<em><h4 class="center-align">Cancellation Policy</h4></em>
						<br>
						<p>{{aircnc.cancellation}}</p>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col s12 m12">
				<div class="card white">
					<div class="card-content black-text">
						<em><h4>Things you should know</h4></em>
						<br>
						<p>{{aircnc.things}}</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="input-field col s12 offset-s3">
				<h5>Author: {{aircnc.author}} <br> Verified AirCnC user since {{aircnc.datevisited}}</h5>
			</div>
		</div>
		<br>
		<div class="divider"></div>
		<div class="divider"></div>
		<br>
		<br>
		<div class="row">
			<div class="col s12">
				<div class="row">
					<div class="col s12 m12">
						<div class="card white">
							<div class="card-content black-text">
								<u>
									<h3 class="center-align">Reviews</h3>
								</u>
								<br>
								<br>
{% for r in reviews %}
								<p class="center-align"><b>{{r.name}}</b>: {{r.review}}</p>
								<br>
								<br>
{% endfor %}
            </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br>
			<div class="divider"></div>
			<div class="divider"></div>
			<br>
			<br>
			<br>
			<div class="row">
				<form action="{{url_for('insert_review', property_id=aircnc._id)}}" method="POST" class="col s12">
					<h6>If you have time, please leave a review.</h6>
					<br>
					<div class="row">
						<div class="input-field col s3">
							<input type="text" id="name" name="name" class="validate" placeholder="What is your name?" required>
        </div>
							<div class="input-field col s10">
								<textarea id="review" name="review" class="materialize-textarea" placeholder="Write your review here. Please include everything your hosts done to make you feel at home and/or vice versa" required></textarea>
							</div>
							<div class="col s2">
								<button class="btn waves-effect waves-light" style="margin-top: 55px;" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
							</div>
						</div>
				</form>
			</div>
		</div>
		{% endfor %}
		{% endblock %}s